/* div {
    width: 1000px;
    height: 900px;
    border: 2px solid;
    background-image: url("../imgs/main_bg.jpg");
} */

/* body { 
    background-image: url("../imgs/main_bg.jpg");
} */

/* body{
    background-image: url("../imgs/bg.jpg");
    background-repeat: repeat;
} */

div {
    width: 1000px;
    height: 300px;
    border: 2px solid;
    background-image: url("../imgs/main_bg.jpg");
    background-repeat: no-repeat;
    background-size: 400px 200px; 
    background-position: center; 
    /* contain完整显示且不改变大小 */
    /* cover保证图片一定要充满整个区域 还要保证比例不变 */
}