/* 通配符选择器 */

/* * {
    color: purple
} */

/* 选中所有具有href属性的元素 */

/* [href]{
    color: purple
} */

/* [href="https://www.sina.com"]{
    color: chocolate
}

[href="https://www.qq.com"]{
    color: cyan
} */

/* 属性包含 选不中edf的*/

/* [class~="e"]{
    color: pink
} */

/* 属性包含 可以选中edf*/

/* [class*="e"]{
    color: pink
} */

/* 属性以开头 */

/* [class^="a"]{
    color: pink
} */

/* 属性以结尾 */

/* [class$="d"]{
    color: pink
} */

/* 超链接未访问时的状态 */

/* a:link {
    color: yellowgreen;
} */

/* 超链接访问过后的状态 */

/* a:visited {
    color: coral;
} */

/* 选中鼠标悬停时的a元素 */

/* a:hover {
    color: blueviolet;
} */

/* 选中鼠标按下时的a元素 */

/* a:active {
    color: violet;
} */

/* 伪元素选择器 相当于是加了个元素 */

/* span::before {
    content: "《";
    color: red;
}

span::after {
    content: "》";
    color: red;
} */

/* p {
    text-indent: 2em;
    line-height: 2;
} */

/* 组合并且 */

/* div.red {
    color: red;
}*/

/* 后代元素 */

/* .red li {
    color: #008c8c
}  */

/* 子元素 */

/* .abc>.bcd {
    color: red;
} */

/* div li {
    color: red;
} */

/* div>ul>li {
    color: red;
} */

/* .special {
    color: red;
} */

/* 兄弟元素 下一个 */

/* .special+li {
    color: blueviolet;
} */

/* 兄弟元素 往后所有的兄弟元素*/

/* .special~li {
    color: pink;
}

p {
    color: pink;
} */

/* 语法糖 */
.special~li, p {
    color: pink;
}