input[type="text"], textarea, select {
    border: 1px solid #999;
    margin: 1em 0;
}

input[type="text"]:focus, textarea:focus, select:focus {
    border: none;
    outline: 1px solid #008c8c;
}

button {
    border: 2px solid #008c8c;
    border-radius: 13px;
}