body {
    background: #4d4a40;
    padding: 20px 0;
    line-height: 2;
    min-width: 1000px;
    /* max-width: ;  最大宽度 */
}

.container {
    background: #fff;
    width: 90%;
    margin: 0 auto;
    padding: 30px 0;
}

.container header {
    background: #267890;
    color: #fff;
    text-align: center;
    border: 5px solid #14414e;
    margin: 0 -34px;
    /* margin: 30px 0; */
}

.container header h1 {
    font-size: 34px;
    font-weight: bold;
}

.container header .orginal-link {
    color: #dbdbdb;
    margin-bottom: 30px;
}

.container header .orginal-link a {
    text-decoration: underline;
}

.container header .orginal-link a:hover {
    color: #fff;
}

.container section {
    width: 90%;
    margin: 0 auto;
}

.container section p {
    margin: 1em 0;
}

.container section h2 {
    font-size-adjust: 32px;
    font-weight: bold;
    border-top: 1px dotted;
    border-top: 1px dotted;
}